
body
{
	background-color:		#111111;
	color:					#ffffdd;
	font-family: 			sans-serif;
}

.cardfile
{
	position:		fixed;
	top:			0;
	bottom:			0;
	left:			0;
	right:			0;
}

.cardfile.artist .cardfile_bgr
{
	position:		fixed;
	top:			12pt;
	bottom:			0;
	left:			0;
	right:			0;

	background-size:	cover;

}

.cardfile.activity .cardfile_bgr, .cardfile.modevent .cardfile_bgr
{

	position:		fixed;
	top:			12pt;
	left:			0;
	right:			0;
	bottom:			56%;
	background-size:	cover;
}

.cardfile.activity .cardfile_content, .cardfile.modevent .cardfile_content
{
	position:	fixed;
	top:		38%;
	bottom:		0;
	left:		0;
	right:		0;

	/*background-color:		rgba(0, 0, 0, 0.7); */

	/*background: linear-gradient(to bottom, rgba(255,255,255,0), rgb(225, 219, 195) 16pt);*/
	background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0,1) 24pt);

	padding-top:		36pt;
	padding-left:		8pt;
	padding-right:		8pt;


	overflow-y:			auto;
}


.cardfile.artist .cardfile_content
{
	position:	fixed;
	/*top:		40%;*/
	bottom:		0;
	left:		0;
	right:		0;

	/*background-color:		rgba(0, 0, 0, 0.7); */

	background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0,0.7) 16pt);
	padding-top:		24pt;
	padding-left:		8pt;
	padding-right:		8pt;
	padding-bottom:		8pt;

}

.cardfile.artist .cardfile_content tr,.cardfile.artist .cardfile_content table
{
	width:				100%;
}

.cardfile.artist .cardfile_content th
{
	text-align:			left;
}

.cardfile.artist .cardfile_content  td.attrval
{
	text-align:			right;
}

.cardfile.artist .cardfile_title, .cardfile.activity .cardfile_title, .cardfile.modevent .cardfile_title
{
	position:	fixed;
	top:		0;
	left:		-8pt;
	right:		-8pt;

	padding-top:	4pt;
	padding-bottom: 4pt;

	background-color: #d1221b;

	/*

	-webkit-text-stroke: 2px black;
	text-stroke: 2px black;
	*/

	   text-shadow:
	   3px 3px 0 #000,
	 -1px -1px 0 #000,
	  1px -1px 0 #000,
	  -1px 1px 0 #000,
	   1px 1px 0 #000;


	text-transform: uppercase;




	font-weight:		bolder;
	text-align:			center;
	font-size:			18pt;


	/* offset-x | offset-y | blur-radius | color */
	box-shadow: 0px 4pt 8pt black;
}

.cardfile.modevent .cardfile_content, .cardfile.activity .cardfile_content
{
	text-align:		center;
}

.cardfile_content
{
	padding-left:		8pt;
	padding-right:		8pt;
}

.cardfile_content .modevent_cat
{
	font-weight:		bolder;
	margin-bottom:		0.5em;

}

.cardfile_content .cardrule
{
    font-size:          14pt;
    line-height:        2em;
}

.cardfile_content .cardrule:first-child
{
	padding-bottom:		0.5em;
	margin-bottom:		0.5em;
}

.cardfile_content .ruleglyph
{
	height:			22pt;
	vertical-align:	middle;
	filter:			brightness(85%) sepia(100%);
}

.ruleglyph_dual
{
	height:			18pt;
}

.icon_rulemark
{
	height:			22pt;
	vertical-align:	middle;
}

.iconholder
{
	display:			inline-block;
	padding:			1pt 1pt;

	height:				22pt;
	width:				22pt;

	border-radius: 6px;
	vertical-align: middle;
}


.iconholder.dual_positive
{
	background-color: 		#2c6431;
    border-radius:          50% 50% 0 0;
}


.iconholder.dual_negative
{
	background-color: 		#8b474b;
	border-radius:          0 0 50% 50%;
}

#content_extras
{

}

.cardfile.modevent .cardfile_content
{

}

.cardfile.modevent #controls_vickipedia
{
	text-align:			center;
	display:			none;
	position:			fixed;
	bottom:				8pt;
	left:				0;
	right:				0;
	padding:			2pt 0;
	font-weight:		bold;
	text-decoration: 	underline;
}


#vickipedia_screen
{
	position:				fixed;
	top:					0;
	left:					0;
	right:					0;
	bottom:					0;
}

#vickipedia_bgr
{
	background-color:					rgba(0,0,0,0.5);
	color:					#000000;
	position:				fixed;
	top:					0;
	left:					0;
	right:					0;
	bottom:					0;
}

#vickipedia_display
{
	position:				fixed;
	top:					22%;
	left:					16pt;
	right:					16pt;
	background-color:		white;
	border-radius:			8pt;
	font-size:				10pt;

	color:					black;
	padding:				4pt;

	overflow-y:				auto;
}

#vickipedia_info
{
	max-height:				50%;
}

#vickipedia_display .header
{
	text-align:				center;
	margin-top:				2pt;
	margin-bottom:			4pt;
	font-weight:			bold;
	margin-left:			8pt;
	font-size:				13pt;
}

#vickipedia_display .vicki_icon
{
	float:					left;
	margin-right:			4pt;
	width:					48pt;
}

#vickipedia_display .talk, #vickipedia_display .howto, #vickipedia_display .links
{
	padding:				0 4pt;
}

#vickipedia_display .howto
{
	font-style:			italic;
	margin-top:			4pt;
}

#vickipedia_display .links
{
	margin-top:				8pt;
	margin-bottom:			8pt;
	padding:				4pt;
	text-align:				center;
	font-weight:			bold;
}

#vickipedia_display .links a,#vickipedia_display .links a:visited
{
	color: #e21192;
	text-decoration: 		none;
	font-weight:			bold;
}

#vickipedia_display .linkshead
{
   	color: #e21192;
	text-decoration: 		none;
	font-weight:			bold;
}

#vickipedia_ok
{
	margin-top:				8pt;
	text-align:				center;
}

#vickipedia_ok .vicki_close
{
	width:					32pt;
	height:					32pt;
}
